<script src="https://apis.google.com/js/api.js"></script>
<script>
    /**
     * Sample JavaScript code for analytics.data.realtime.get
     * See instructions for running APIs Explorer code samples locally:
     * https://developers.google.com/explorer-help/guides/code_samples#javascript
     */

    function authenticate() {
        return gapi.auth2.getAuthInstance()
            .signIn({ scope: "https://www.googleapis.com/auth/analytics https://www.googleapis.com/auth/analytics.readonly" })
            .then(function () { console.log("Sign-in successful"); },
                function (err) { console.error("Error signing in", err); });
    }
    function loadClient() {
        gapi.client.setApiKey("AIzaSyAKPlty59N_szeLDpXiLpkBbd6To9l5Q90");
        return gapi.client.load("https://content.googleapis.com/discovery/v1/apis/analytics/v3/rest")
            .then(function () { console.log("GAPI client loaded for API"); },
                function (err) { console.error("Error loading GAPI client for API", err); });
    }
    // Make sure the client is loaded and sign-in is complete before calling this method.
    function execute() {
        return gapi.client.analytics.data.realtime.get({
            "ids": "ga:228149325",
            "metrics": "rt:activeUsers"
        })
            .then(function (response) {
                // Handle the results here (response.result has the parsed body).
                console.log("Response", response);
            },
                function (err) { console.error("Execute error", err); });
    }
    gapi.load("client:auth2", function () {
        gapi.auth2.init({ client_id: "856192773930-v1f1fa0g9qj7ouho592ldkg3hi5fd4ei.apps.googleusercontent.com" });
    });
</script>
<button onclick="authenticate().then(loadClient)">authorize and load</button>
<button onclick="execute()">execute</button>
